#Can you fix my code?

I tried to complete yesterday's project, but I have so many errors!  Can you find and fix them all?

# Let's continue to explore feature engineering with the Ames Housing data.  Import the dataset and name it "house".

###1) Import the Ames Housing Data here: https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv

In [4]:
import pandas as pd

house = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

###2) Print the first five rows of the house dataset.

In [5]:
house.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

###3) Create a new variable called Large_Lot that takes on the value 1 when LotArea is gerater than or equal to 10,000 and the value 0 when LotArea is less than 10,000.

In [6]:
house.loc[house['LotArea'] >= 10000, 'Large_Lot'] = 0
house.loc[house['LotArea'] < 10000, 'Large_Lot'] = 1

house[['LotArea', 'Large_Lot']]

      LotArea  Large_Lot
0        8450        1.0
1        9600        1.0
2       11250        0.0
3        9550        1.0
4       14260        0.0
...       ...        ...
1455     7917        1.0
1456    13175        0.0
1457     9042        1.0
1458     9717        1.0
1459     9937        1.0

[1460 rows x 2 columns]

###4) Create a new variable called Total_Bathrooms that contains the total number of full and half bathrooms in the house.

In [9]:
house['Total_Bathrooms'] = house['BsmtFullBath'] + house['BsmtHalfBath'] + house['FullBath']+ house['HalfBath']

house[['Total_Bathrooms','BsmtFullBath','BsmtHalfBath','FullBath','HalfBath']]

      Total_Bathrooms  BsmtFullBath  BsmtHalfBath  FullBath  HalfBath
0                   4             1             0         2         1
1                   3             0             1         2         0
2                   4             1             0         2         1
3                   2             1             0         1         0
4                   4             1             0         2         1
...               ...           ...           ...       ...       ...
1455                3             0             0         2         1
1456                3             1             0         2         0
1457                2             0             0         2         0
1458                2             1             0         1         0
1459                3             1             0         1         1

[1460 rows x 5 columns]

###5) Create a new variable called Summer_Sale that equals 1 if the sale month was in June, July or August ( MoSold = 6, 7 or 8) and 0 if the sale month was in September - May.

In [10]:
house.loc[(house['MoSold'] >= 6 ) | (house['MoSold'] <= 8 ), 'Summer_Sale'] = 1 

house.loc[(house['MoSold'] < 6) & (house['MoSold'] > 8), 'Summer_Sale'] = 0  

house[['MoSold', 'Summer_Sale']]

      MoSold  Summer_Sale
0          2          1.0
1          5          1.0
2          9          1.0
3          2          1.0
4         12          1.0
...      ...          ...
1455       8          1.0
1456       2          1.0
1457       5          1.0
1458       4          1.0
1459       6          1.0

[1460 rows x 2 columns]

#Now we'll revisit the LendingClub data.

Remember to import the data by first unzipping the file:

In [11]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2021-07-20 16:14:44--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.10.152.4, 54.68.48.117, 35.165.181.142
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.10.152.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [<=>                 ]  22.43M  3.28MB/s    in 6.9s

2021-07-20 16:14:52 (3.25 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23515822]

In [12]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [19]:
# Read in the CSV
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', engine='python')

print(df.shape)
df.head()

(128415, 1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title      emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title              zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt      total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       7075      7075        7075             36 months  23.40%  275.35      E     E1        NaN            NaN        RENT           19200      Not Verified        Dec-2018 Charged Off n          NaN NaN  debt_consolidation Debt consolidation 633xx    MO         30.34 0           Apr-2005         0              65                     NaN                    9        0       7098      71%        13        w                   0.00      0.00          4073.93          4073.93         2010.70         1555.05       0.0                508.18     91.4724                 Jan-2020     275.35          NaN          Oct-2020           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            11000       0           1           0           0           53                 3902         34      1           3           2179       51       10000            0      0           1            3                    1375        470            88.3    0                        0           147                164                  9                     9              0        26                   NaN                      9                     65                             0                     3              7               3           3         2         7             10            7                   9        0                0            0                  1                  92.3           66.7             0                    0         21492           11000             4000           11492                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 NaN           NaN           NaN             NaN             NaN           275.35          NaN                 NaN               NaN                     NaN             NaN          NaN                  0                                          0                              275.35                       N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              32000     32000       32000            60 months  14.47%  752.41      C     C2        Teacher        10+ years  MORTGAGE       110000     Source Verified     Dec-2018 Current     n          NaN NaN  home_improvement   Home improvement   152xx    PA         26.11 0           Oct-2000         0              24                     NaN                    18       0       14833     43%        32        w                   21100.74  21100.74      20276.48         20276.48        10899.26        9377.22       0.0                0.0        0.0                     May-2021     752.41          Jun-2021     Mar-2021           0                          41                          1           Individual       NaN              NaN       NaN                       0              273          73873       1           5           1           3           12                 59040        49      2           6           4293       46       34500            2      5           1            9                    4104        15794          41.1    0                        0           218                201                  6                     6              1        6                    41                       12                    41                             2                     7              11              8           11        15        13            16            11                  18       0                0            0                  3                  77.4           12.5             0                    0         94609           73873             26800          60109                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             CVD19SKIP     INCOMECURT      COMPLETE        2             0               Apr-2020            Jun-2020          Apr-2020                2               0            ACTIVE               627.45                                     26278.58                       752.41                       N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              8000      8000        8000             36 months  23.40%  311.35      E     E1        Medical Coder  1 year     RENT           49400      Verified            Dec-2018 Fully Paid  n          NaN NaN  other              Other              917xx    CA         23.92 0           May-2003         3              74                     NaN                    16       0       12694     30.7%      28        w                   0.00      0.00          8987.856770241   8987.86         8000.00         987.86        0.0                0.0        0.0                     Jul-2019     7446.71         NaN          Mar-2021           0                          74                          1           Individual       NaN              NaN       NaN                       0              0            22681       4           1           3           5           3                  9987         98      4           8           1412       44       41400            2      0           4            13                   1418        16465          15.6    0                        0           152                187                  0                     0              0        0                    NaN                      1                     NaN                            1                     6              11              8           9         10        15            18            12                  16       0                0            0                  7                  96.4           12.5             0                    0         51600           22681             19500          10200                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              20400     20400       20400            60 months  10.33%  436.76      B     B1        Bakery Manager 10+ years  MORTGAGE       140000     Not Verified        Dec-2018 Fully Paid  n          NaN NaN  debt_consolidation Debt consolidation 815xx    CO         5.04  0           Dec-1989         0              NaN                    NaN                    13       0       6516      9%         27        w                   0.00      0.00          20913.7602877036 20913.76        20400.00        513.76        0.0                0.0        0.0                     Apr-2019     20057.8         NaN          Dec-2019           0                          NaN                         1           Joint App        240000           3.17      Not Verified              0              0            430872      2           1           1           2           10                 15561        92      2           2           2779       25       72200            0      5           1            6                    33144       40101          8.9     0                        0           121                348                  2                     2              4        2                    NaN                      11                    NaN                            0                     2              4               6           8         8         11            15            4                   13       0                0            0                  4                  100            0                0                    0         504296          22077             44000          16896                      7957            Jun-2002                 0                      4                9                13.3               1                   9                     0                                0                                  NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

#Approaching a problem two different ways.

In the guided project, we learned how to find the earliest credit year using the built-in pandas date-time format.  However, there is often more than one way to come up with the same solution.


In the following questions we will work through the steps to create a new variables called Earliest_Credit_Year and issue_year where we use the .split() function remove the month report back just the year as a float data type.  Then we'll use those variables to calculate the length of credit history in years.

If we do everything correctly, we should calculate *about* the same length of longest credit history that we did in class working with the date-time format.  The answers won't exactly match because we are making different assumptions about when in each month and year the loans were taken out, but it will give you a flavor for different ways of approaching the same problem.

###6) Create a simple test case where credit = 'Jun-1979'.  

Use the .split('-') function to separate the month and year parts of the data and print the year.

Hint: Name the results of the .split('-') function "fields".  fields[0] will return the month part of the date and fields[1] will return the year part of the date.

In [20]:
credit = 'Jun-1979'

fields = credit.split('-')
month = fields[0]
year = fields[1]

print(float(year))

1979.0

###7) Use your answer in 6) to write a function called credit_yr that takes in the contents of a cell formatted 'month-year' and returns the year.

Run your function using the simple test case in 6).

In [16]:
def credit_yr(cell_contents):
  fields = cell_contents.split('-')
  month = fields[0]
  year = fields[1]
  year = float(year)
  return year

credit_yr(credit)

1979.0

###8) Use the .apply() function to apply the function to every cell in the earliest_cr_line variable.

In [24]:
df['Earliest_Credit_Year'] = df['earliest_cr_line'].apply(credit_yr)

KeyError: ignored

###9) Print the top 5 rows of the Earliest_Credit_Year and earliest_cr_line variables to make sure the variables were created correctly.

In [25]:
df[['Earliest_Credit_Year','earliest_cr_line']].tail()

KeyError: ignored

### 10) Use your function to create a new variable called Issue_Year from the issue_d variable.

In [ ]:
df['issue_d'].apply(credit_yr)

df[['Issue_Year','issue_d']].head()

###11) Caluculate length of credit history in years and in days.

Hint: If you are getting an error message, make sure to check the data type of the years output by your functions.

In [ ]:
['Credit_History_Years'] = ['Issue_Year'] - ['Earliest_Credit_Year']
['Credit_History_Days'] = ['Credit_History_Years'] * 365.25

[['Issue_Year','Earliest_Credit_Year','Credit_History_Years','Credit_History_Days']].head()

   Issue_Year  Earliest_Credit_Year  Credit_History_Years  Credit_History_Days
0      2018.0                1995.0                  23.0              8400.75
1      2018.0                2007.0                  11.0              4017.75
2      2018.0                1987.0                  31.0             11322.75
3      2018.0                1997.0                  21.0              7670.25
4      2018.0                2005.0                  13.0              4748.25

###12) Calculate the maximum credit length and compare it to we got in the guided project.  

Note - it won't be *exactly* the same because both methods are working in different ways, but they will give you a "pretty close" answer.

In [ ]:
df['Credit_History_Years'].max